header {
    background-color: rgb(76, 155, 246);
    background-image: url("../img/pattern.png");
    height: 180px;
}

img {
    height: 160px;
    object-fit: none;
    object-position: left bottom;
}

.grey{
    color: grey;
}

.little-info{
    font-size: 12px;
}